*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body{
  background-color: #18191a;
  font-family: sans-serif;
}
.patient-table-container{
  padding: 0 10%;
  margin: 40px auto 0 ;
  padding-bottom: 35px;
}
.patient-table-heading{
  text-align: center;
  color: #eee;
  font-size: 20px;
  margin-bottom: 5px;
}
.patient-table-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 55px;
}
.patient-table-table-thead{
  background-color: #034c81;
  position: sticky;
  top: 71px;
}
.patient-table-table-thead-tr th{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #eee;
  opacity: 1;
  padding: 5px;
  vertical-align: top;
  border: 1px solid #dedede63;
}
.patient-table-table tr td{
  font-size: 13px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  background-color: #3c3f44;
  padding: 0 4px;
  text-align: center;
  border: 1px solid #dee2e685;
}
/* .patient-table-table .tbody tr td .patient-table-button-edit{
  width: 130px;
  line-height: 35px;
} */
.patient-table-button-edit {
  width: 70px !important;
  /* line-height: 35px; */
  line-height: 25px;
  background-color: #e9115bf0;
  display: inline-block;
  font-weight: 600 !important;
  color: #eee;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
      margin: 1px 0 1px 0;
}
.patient-table-table tbody tr td:nth-child(2){
  font-size: 14px;
}
.patient-table-button-add{
  float: right;
  width: 130px !important;
  line-height: 35px;
  background-color: #e9115bf0;
  /* display: inline-block; */
  font-weight: 600 !important;
  color: #eee;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
  margin-bottom: 7px;
  border-radius: 5px;
}
.patient-table-button-search{
  width: 130px !important;
  line-height: 35px;
  background-color: #e9115bf0;
  /* display: inline-block; */
  font-weight: 600 !important;
  color: #eee;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
  margin-bottom: 7px;
  border-radius: 5px;
}
.patient-table-search-input{
  margin-left: 5px;
  height: 35px;
  border-radius: 3px;
  width: 190px;
  background: #18191a;
  color: #eee;
  font-size: 13px;
  padding-left: 5px;
}
.patient-table-search-input::-webkit-input-placeholder{
  font-size: 13px;
  color: rgb(177, 177, 177);

}
.patient-table-head-input{
  display: flex;
  justify-content: space-between;
}
.patient-table-head-container{
  position: fixed;
  top: 0;
  z-index: 10;
  width: 80%;
  background-color: #18191a;
}
.display-flex-jc-sb{
  display: flex;
  justify-content: space-between;
}
.percent-40{
  width: 40% !important;
}

@media(max-width: 900px){
  .patient-table-container{
    padding: 0 2% 30px 2%;
  }
  .patient-table-head-container {
    width: 96%;
  }
}
@media(max-width: 700px) and(min-width: 600px){
  .patient-table-button-add{
    /* display: none; */
  }
  .modal-container{
    width: 70%;
  }
}

@media(max-width: 600px){
  .patient-table-table tr td{
    border: 0.01px solid #dee2e685;
  }
  .patient-table-table{
    margin-top: 95px;
  }
  .patient-table-table thead{
    display: none;
  }
  .patient-table-table, .patient-table-table tbody,
  .patient-table-table tr, .patient-table-table td{
    display: block;
    width: 100%;
  }
  .patient-table-table tr{
    margin-bottom: 15px;
  }
  .patient-table-table tbody tr td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .patient-table-table td:before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
  .patient-table-search-input{
    margin-left: 0;
    margin-bottom: 5px;
  }
  .nav{
    z-index: 1000;
  }
  .patient-table-head-container{
    margin-right: 2%;
    width: 95%;
  }
  
}

/* .modal-container{
    border: 1px solid red;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
} */

/* .react-datepicker {
    font-size: 3em;
  }
  .react-datepicker__header {
    padding-top: 0.8em;
  }
  .react-datepicker__month {
    margin: 0.4em 1em;
  }
  .react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
  }
  .react-datepicker__current-month {
    font-size: 1em;
  }
  .react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
  }
  .react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
  }
  .react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
  } */

  /* .react-datepicker {
    font-size: 1rem !important;
    margin-left: -13px;
  }
  
  .react-datepicker__current-month {
    font-size: 1.3rem !important;
  } */
  
  /* .react-datepicker__header {
    padding-top: 4px !important;
  } */
  
  /* .react-datepicker__navigation {
    top: 11px !important;
  }
  
  .react-datepicker__day-name, .react-datepicker__day {
    margin: 0.4rem !important;
  } */

  /* responsive table css */

  /* html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    color: rgba(0, 0, 0, 0.87);
  }
  
  a {
    color: #3498db;
  }
  a:hover, a:focus {
    color: #046a38;
  }
  
  .container {
    margin: 5% 3%;
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .container {
      margin: 2%;
    }
  }
  @media (min-width: 75em) {
    .container {
      margin: 2em auto;
      max-width: 75em;
    }
  }
  
  .responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table {
      font-size: 0.9em;
    }
  }
  @media (min-width: 62em) {
    .responsive-table {
      font-size: 1em;
    }
  }
  .responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table thead {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
  }
  .responsive-table thead th {
    background-color: #3498db;
    border: 1px solid #034c81;
    font-weight: normal;
    text-align: center;
    color: #eee;
  }
  .responsive-table thead th:first-of-type {
    text-align: left;
  }
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table th,
  .responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    /* #eee-space: normal; */
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table tr {
      display: table-row;
    }
  }
  .responsive-table th,
  .responsive-table td {
    padding: 0.5em;
    vertical-align: middle;
  }
  @media (min-width: 30em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em 0.5em;
    }
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table th,
  .responsive-table td {
      display: table-cell;
      padding: 0.5em;
    }
  }
  @media (min-width: 62em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em 0.5em;
    }
  }
  @media (min-width: 75em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em;
    }
  }
  .responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
  @media (min-width: 48em) {
    .responsive-table caption {
      font-size: 1.5em;
    }
  }
  .responsive-table tfoot {
    font-size: 0.8em;
    font-style: italic;
  }
  @media (min-width: 62em) {
    .responsive-table tfoot {
      font-size: 0.9em;
    }
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table tbody {
      display: table-row-group;
    }
  }
  .responsive-table tbody tr {
    margin-bottom: 1em;
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table tbody tr {
      display: table-row;
      border-width: 1px;
    }
  }
  .responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.12);
      /* background-color: #5ba2f4; */
    }
  }
  .responsive-table tbody th[scope=row] {
    background-color: #3498db;
    color: #eee;
  }
  @media (min-width: 30em) {
    .responsive-table tbody th[scope=row] {
      border-left: 1px solid #034c81;
      border-bottom: 1px solid #034c81;
    }
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table tbody th[scope=row] {
      background-color: transparent;
      color: #000001;
      text-align: left;
    }
  }
  .responsive-table tbody td {
    text-align: right;
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table tbody td {
      border-left: 1px solid #034c81;
      border-bottom: 1px solid #034c81;
      text-align: center;
    }
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table tbody td:last-of-type {
      border-right: 1px solid #034c81;
    }
  }
  .responsive-table tbody td[data-type=currency] {
    text-align: right;
  }
  .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 0.8em;
    /* color: rgba(0, 0, 0, 0.54); */
    color: #5ba2f4;
  }
  @media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
      font-size: 0.9em;
    }
  }
  /* @media (min-width: 48em) { */
    @media (min-width: 31em) {
    .responsive-table tbody td[data-title]:before {
      content: none;
    }
  }

