.table-table2-container{
    width: 98%;
}
/* .table-table2-head-title{
    text-align: center;
    color: #eee;
    font-size: 15px;
    margin-bottom: 5px;
} */
.table-table2-head-input{
    display: flex;
    justify-content: space-between;
    margin: 3px 0 0 0;
}
.table-table2-head-search-button{
    width: 130px !important;
    line-height: 35px;
    background-color: #e9115bf0;
    /* display: inline-block; */
    font-weight: 600 !important;
    color: #eee;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    margin-bottom: 7px;
    border-radius: 5px;
}
.table-table2-head-search-input{
    /* margin-left: 5px; */
    height: 35px;
    border-radius: 3px;
    width: 170px;
    background: #18191a;
    color: #eee;
    font-size: 13px;
    padding-left: 5px;
}
.table-table2-head-search-clear{
    background-color: #18191a;
    color: #e9115bf0;
    font-size: 20px;
    width: 30px;
}
.table-table-head-add-button{
    float: right;
    width: 130px !important;
    line-height: 35px;
    background-color: #e9115bf0;
    /* display: inline-block; */
    font-weight: 600 !important;
    color: #eee;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    margin-bottom: 7px;
    border-radius: 5px;
}
.table-table2-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 4px;
    margin: 0 0 65px 0;
}
.table-table2-table-thead{
    background-color: #034c81;
    position: sticky;
    top: -1px;
}
.table-table2-table-thead-tr th {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #eee;
    opacity: 1;
    padding: 5px;
    vertical-align: top;
    border: 1px solid #dee2e6b8;
    width: 2%;
}
.table-table2-table-thead-tr th:nth-child(1) {
    width: 0.5%;
}
.table-table2-table-thead-tr th:nth-child(3) {
    width: 0.5%;
}
.table-table2-table-thead-tr th:nth-child(4) {
    width: 0.5%;
}
.table-table2-table-tbody-tr td{
    font-size: 13px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 0 4px;
    text-align: center;
    border: 1px solid #dee2e685;
}
#bg-green{
    width: 98%;
    /* line-height: 35px; */
    line-height: 25px;
    background-color: green;
    display: inline-block;
    font-weight: 600 !important;
    color: #eee;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    margin: 1px 2px 1px 2px;
}
#bg-black{
    width: 98%;
    /* line-height: 35px; */
    line-height: 25px;
    background-color: #3c3f44;
    display: inline-block;
    font-weight: normal !important;
    color: #eee;
    border: 1px solid transparent;
    font-size: 13px;
    opacity: 1;
    margin: 1px 2px 1px 2px;
}
.table-table2-table-tbody-tr td button{
    width: 98%;
    /* line-height: 35px; */
    line-height: 25px;
    background-color: #e9115bf0;
    display: inline-block;
    font-weight: 600 !important;
    color: #eee;
    border: 1px solid transparent;
    border-radius: 5px 5px;
    font-size: 14px;
    opacity: 1;
    margin: 1px 2px 1px 2px;
    /* padding: 0 5px; */
}
.table-table2-table-body-tr-td{
    display: flex;
}
@media(max-width: 500px){
    .table-table2-table-thead-tr th:nth-child(2){
        width: .5%;
    }
    .table-table2-table-body-tr-td{
        /* align-items: center;
        justify-content: center;
        align-content: center; */
        flex-direction: column;
    }
}
.table-table2-table-thead-tr-search2{
    background-color: #3c3f44;
}
/* .table-table2-table-thead-tr th:nth-child(2){
    width: 20%;
} */
.table-table2-table-thead-tr-search2 th input{
    text-align: center;
    width: 100%;
    line-height: 2;
}
.table-table2-table-thead-tr-search2 th p{
    background: #e9115bf0;
    color: white;
    font-weight: 600;
    min-width: 50px;
    line-height: 2;
    border: 1px solid transparent;
    border-radius: 5px 5px;
}
/* .table-table2-table-thead-tr-search2 th:nth-child(1) input{
    background: #e9115bf0;
    color: white;
    font-weight: 600;
    min-width: 50px;
    line-height: 2;
}
.table-table2-table-thead-tr-search2 th:nth-child(4) input{
    background: #e9115bf0;
    color: white;
    font-weight: 600;
    min-width: 50px;
    line-height: 2;
} */
.table-table2-table-thead-tr-search2 th:nth-child(2) input{
    width: 80%;
}
.table-table2-table-thead-tr-search2 th:nth-child(2) button{
    width: 15%;
    background: #e9115bf0;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px 5px;
}
.maxW50px{
    min-width: 60px;
}
.table-table2-table-thead-tr-search2 th:nth-child(5) p{
    width: 90%;
    float: right;
}
